<!DOCTYPE html>


<style>
  th {
    background-color: #94e5ed;
    color: #1019ff;
    padding: 15px;
    text-align: center;
    border-bottom: 1px solid #dd5255;
    height: 50px;
    vertical-align: bottom;
  }

  td {
    padding: 15px;
    text-align: center;
    border-bottom: 1px solid #121bdd;
    height: 50px;
    vertical-align: bottom;
    color: #111780;
  }

  table {
    border-collapse: collapse;
    width: 100%;
  }


  tr:hover {background-color: #f5f5f5;}

</style>


<html>
<head>
  <title>ExamenSoftware</title>
  <!DOCTYPE html>
  <html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
  </head>
<body><div class="card" style="width: 100rem;">
  <img class="card-img-top"   src="https://ugc.kn3.net/i/origin/http://www.emiliosilveravazquez.com/images/head7.jpg" alt="Card image cap">

</div>
</div>

<tr>
  <th scope="row"></th>
  <td>           .      </td>
</tr>

<tr>
  <th scope="row">1</th>
  <td>Planeta </td>
  <td><button type="button" class="btn btn-danger" value="Go" onClick="window.location = 'http://127.0.0.1:3000/planeta';"> Go</button></td>

</tr>

<tr>
  <th scope="row">2</th>

  <td>Galaxia</td>
  <td><button type="button" class="btn btn-danger" value="Go" onClick="window.location = 'http://127.0.0.1:3000/galaxia';"> Go</button></td>

</tr>


<tr>
  <th scope="row">3</th>

  <td>Cometas </td>
  <td><button type="button" class="btn btn-danger" value="Go" onClick="window.location = 'http://127.0.0.1:3000/cometa';"> Go</button></td>

</tr>
<tr>
  <th scope="row">4</th>

  <td>Estrellas </td>
  <!--<td><button type="button" class="btn btn-success">Go</button></td>-->
  <td><button type="button" class="btn btn-danger" value="Go" onClick="window.location = 'http://127.0.0.1:3000/estrellas';"> Go</button></td>

</tr>
<tr>
  <th scope="row">5</th>

  <td>Asteroides</td>
  <!--<td><button type="button" class="btn btn-success">Go</button></td>-->
  <td><button type="button" class="btn btn-danger" value="Go" onClick="window.location = 'http://127.0.0.1:3000/asteroides';"> Go</button></td>

</tr>

<tr>
</tr></table>
</tbody>

</div>




<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
</body>
</html>
  <%= stylesheet_link_tag    'default', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'default', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
<body style="background-color: rgba(166,169,255,0.31)">
